<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <style>

        body{
            background-color: #cdd8e1;
        }

    </style>

</head>
<body>


<div class="container mt-4">

    <form th:action="@{'/showform'}" th:object="${invitation}" method="post">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}"
                   class="form-control" name="" id="name" aria-describedby="helpId" placeholder="">
        </div>

        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" th:field="*{phone}"
                   class="form-control" name="" id="phone" aria-describedby="helpId" placeholder="">
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" th:field="*{address}"
                   class="form-control" name="" id="address" aria-describedby="helpId" placeholder="">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
          <textarea rows="4" class="form-control" id="description" th:field="*{ddescription}"></textarea>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                        <div th:object="${dprice}">
                            <label for="rmade">CategoryMade</label>
                            <select name="" id="rmade"  th:field="*{categoryMade}">
                                <option  th:each="mm :${T(com.example.invitation.model.CategoryMade).values()}"
                                         th:text="${mm}" th:value="${{mm}}"></option>
                            </select>
                            <label for="price">Price</label>
                            <input id="price" type="number"  th:field="*{price}">
                        </div>
                    </div>
                </div>
            </div>


        <div class="form-group">
            <label for="quantity">Quantity</label>
           <textarea rows="4" class="form-control" id="quantity" th:field="*{dquantity}"></textarea>
        </div>

        <div class="form-group">
            <label for="totalprice">TotalPrice</label>
            <input type="text" th:field="*{totalprice}"
                   class="form-control" name="" id="totalprice" aria-describedby="helpId" placeholder="">
        </div>

   <button type="submit" class="btn btn-primary btn-sm">submit</button>
    </form>
    
    
</div>


 

</body>
</html>