<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<style>

    body{
        background-color: #cdd8e1;
    }

</style>


</head>
<body>


<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Description</th>
        <th>Ready Made</th>
        <th>Hand Made</th>
        <th>Quantity</th>
        <th>TotalPrice</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ine: ${invitations}">
        <td><small th:text="*{ine.getName()}"></small></td>
        <td><small th:text="*{ine.getAddress()}"></small></td>
        <td><small th:text="*{ine.getPhone()}"></small></td>
        <td><small th:text="*{ine.getDdescription()}"></small></td>
        <td><small th:text="*{ine.getDecriptionprice()}"></small></td>
        <td><small th:text="*{ine.getDescriptionprice2()}"></small></td>
        <td><small th:text="*{ine.getDquantity()}"></small></td>
        <td><small th:text="*{ine.getTotalprice()}"></small></td>
    </tr>

    </tbody>
</table>


</body>
</html>